


<form action ="/kids/contactus/" method="post"   xmlns="http://www.w3.org/1999/html">>
     {% csrf_token %}
<h2>To book appointment</h2>
     Patient Name:<input type = "text" name="Patient Name"></br>
     Address:<input type = "text" name = "Address"><br/>
     phone no:<input type="number" name="phone no"><br/>
<input type="submit" value="Book">
</form>



<a href > <h1>Reach us</h1></a>

<h3>Kids Hospital</h3>



<h2 style="color:SlateBlue;"> Address: "#5AC,Ring Road,HSR layout,Banglore-560037" <br>
     phone no : 34567898765 </h2> <br>